@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

.page-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
}

/* header */
.page-header {
    display: flex;
    padding: 0 70px;
}

.main-logo {
    display: block;
    width: 140px;
}

.navigation-list {
    width: 339px;
    margin: 0;
    margin-left: 70px;
    padding: 0;
    list-style: none;
}


.navigation-user {
    width: 268px;
    margin-left: auto;
    list-style: none;
}

/* main */
.main-container {
    flex-grow: 1;
}

.hero {

    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    padding-left: 371px;
    padding-right: 371px;
}

.main-hero {
    display: block;
    margin: 0 auto;
}

/* Преимущества */

.advantages-header-title {
    width: 620px;
    margin: 0 auto;
    text-align: center;
}

.advantages-header-text {
    width: 651px;
    margin: 0 auto;
    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
}

.advantage-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
}


.advantages-img {
    display: block;
}



/* Нужно добавить цвет текста и фона */


.header-filter {
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url(../img/filter.jpg);
    background-repeat: no-repeat;
}

/* Проверить!!! */
.visua1ly-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* !!!НОВЫЕ СТИЛИ!!! */

/* Кнопки и ссылки */
/* Цвета кнопок */
.button-primary {
    color: #FFFFFF;
    background-color: #756157;
}

.button-secondary {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.button-select {
    color: #FFFFFF;
    background-color: #7DB54F;
}

.rating {}
/* Текст кнопок */
.button-small {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.button-big {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}



/* Заголовки и тексты */
/* Заголовки */
.title-1 {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #000000;
}

.title-2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.title-3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.title-3-noncase {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;

}

.title-4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
}

/* Тексты */
.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.text-basic {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
}

.text-small {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.text-checkbox {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #FFFFFF;
}

.text-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

/* Модификаторы цвета фона и текста */

.background-basic{
    background-color: #82B3D3;
}

.background-second-1{
    background-color: rgba(131, 179, 211, 0.12);
}

.background-second-2{
    background-color: rgba(131, 179, 211, 0.2);
}

.forms-input {
    background-color: #3F5E72;
}

.forms-elements-1 {
    background-color: #E5E5E5
}

.forms-elements-2 {
    background-color: #F2F2F2
}

.text-light{
    color: #FFFFFF;
}

/* Пагинация */
.pagination {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2
}
